<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
    background-color: rgba(0, 0, 0, 0.76);
    color: rgb(246, 251, 255);
    font-size: 20px;
    text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddddddf6;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: hsla(0, 0%, 45%, 0.329);
}
</style>
</head>
<body>
    {% block body %}
    {% endblock %}

</body>
</html>