{% extends 'base.html' %}

{% block title %} Marketplace {% endblock %}

{% block body %}

<h2 style="text-align: left;">Marketplace</h2>
<form action="/cart" method="POST">
    <table >
        
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>

        {% for item in items%}
        <tr>
          <td>{{item}}</td>
          <td>₹ {{items[item]}}</td>
          <td>
                <input name={{item}} type="number" min="0" max="100" value="0">
          </td>
        </tr>

        {% endfor %}

    </table>
    <br>
    <input type="submit" value="Buy" style="width: 130px; background: rgb(121, 217, 255); 
    border-color:rgb(4, 184, 255); border-width: 4px; font-size: 100%; font-weight:bold;">
</form>

{% endblock %}